//Text Colors
$text: #f7f7f7;
$placeholder-text: #FF6C59;
$link: #3e3e3e;
$link-hover: #000000;

//UI Colors
$background: #ff5c47;
//Un-comment below and in base.scss to override text highlight
$text-highlight: #dcdcdc;

//Font Sizes
$extra-large: 3em;
$large: 1.875em;
$medium: 1em;
$small: 0.875em;